@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200&display=swap');
* {
    box-sizing: border-box
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.mobile-container {
    width:400px;
}

img {
    max-width: 100%;
}